<table>
  <thead>
  <tr class="table-title table-row">
    <th (click)="sortByDate()" class="column-title table-item">Date</th>
    <th (click)="sortByAlphabet('hero')" class="column-title table-item">Hero name</th>
    <th (click)="sortByAlphabet('opponent')" class="column-title table-item">Opponent name</th>
    <th (click)="sortByAlphabet('result')" class="column-title table-item">Battle result</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let buttle of battles; trackBy: trackBattle"
      class="table-row">
    <td class="table-item">{{buttle.date | date:"medium"}}</td>
    <td class="table-item">{{buttle.hero}}</td>
    <td class="table-item">{{buttle.opponent}}</td>
    <td class="table-item">{{buttle.result}}</td>
  </tr>

  </tbody>
</table>
