<table>
  <thead>
  <tr class="table-title table-row">
    <th class="column-title table-item" (click)="sortByDate()">Date</th>
    <th class="column-title table-item" (click)="sortByAlphabet('hero')">Hero name</th>
    <th class="column-title table-item" (click)="sortByAlphabet('opponent')">Opponent name</th>
    <th class="column-title table-item" (click)="sortByAlphabet('result')">Battle result</th>
    </tr>
  </thead>
  <tbody>
  <tr class="table-row" *ngFor="let buttle of buttles">
    <td class="table-item">{{buttle.date | date:"medium"}}</td>
    <td class="table-item">{{buttle.hero}}</td>
    <td class="table-item">{{buttle.opponent}}</td>
    <td class="table-item">{{buttle.result}}</td>
  </tr>

  </tbody>
</table>
