table {
  margin: 0 auto;
  min-width: 600px;
  font-size: 2rem;
  border-collapse: collapse;
}

.table-title {
  font-size: 3rem;
  font-weight: bold;
  }

.column-title {
  color:white;
  background: rebeccapurple url("../../../assets/sort.svg") 90% center/20px 20px no-repeat;
  cursor: pointer;
}

.table-item {
  min-width: 25%;
  padding: 0 60px 0 20px;
  line-height: 200%;
  text-align: left;
  }

.table-item {
  border: 2px solid rebeccapurple;
}
