<div class="wrapper">
  <div class="info-wrapper">
    <nav class="info-nav">
      <ul class="nav-list">
        <li (click)="activeTab = 'heroes'"
            [class.active]="activeTab === 'heroes'"
            class="nav-item btn dark"
        >Heroes list
        </li>
        <li
          (click)="activeTab = 'buttles'"
          [class.active]="activeTab === 'buttles'"
          class="nav-item btn dark"
        >Battles history
        </li>
        <li
          (click)="activeTab = 'powerups'"
          [class.active]="activeTab === 'powerups'"
          class="nav-item btn dark"
        >Powerups
        </li>
      </ul>
    </nav>
    <div class="tab-info">
      <app-heroes-tab *ngIf="activeTab === 'heroes'"></app-heroes-tab>
      <app-buttles-history-tab *ngIf="activeTab === 'buttles'"></app-buttles-history-tab>
      <app-powerups-tab *ngIf="activeTab === 'powerups'"></app-powerups-tab>
    </div>
  </div>
</div>
