<div class="wrapper">
  <div class="heroes-page-wrapper">
    <div class="search">
     <app-alphabet (onSelect)="searchControl.setValue($event)"></app-alphabet>
      <input
        [formControl]="searchControl"
        class="search-input" placeholder="Enter hero name..."
        type="search"
      >
    </div>
    <div *ngIf="searchHistory" class="search-history">
      <span (click)="searchControl.setValue(item)" *ngFor="let item of searchHistory" class="search-item">{{item}}</span>
    </div>
    <ul class="heroes-cards-list">
      <li *ngFor="let hero of heroes" class="hero-card">
        <div class="hero-pic">
          <img alt="hero-pic" class="hero-img" src="{{hero.image.url}}">
        </div>
        <div class="hero-info">
            <div class="card-description">
              <span class="hero-name">{{hero.name}}</span>
              <span class="card-title">Stats:</span>
              <ul class="hero-stats">
                <li *ngIf="hero.powerstats.intelligence" class="hero-stat">
                  intelligence: {{hero.powerstats.intelligence}}</li>
                <li *ngIf="hero.powerstats.strength" class="hero-stat">strength: {{hero.powerstats.strength}}</li>
                <li *ngIf="hero.powerstats.speed" class="hero-stat">speed: {{hero.powerstats.speed}}</li>
                <li *ngIf="hero.powerstats.durability" class="hero-stat">durability: {{hero.powerstats.durability}}</li>
                <li *ngIf="hero.powerstats.power" class="hero-stat">power: {{hero.powerstats.power}}</li>
                <li *ngIf="hero.powerstats.combat" class="hero-stat">combat: {{hero.powerstats.combat}}</li>
              </ul>
            </div>
          <div class="card-btns">
            <button
              (click)="selectHero(hero.id)"
              [disabled]="selectedHeroesIds.includes(hero.id)"
              class="btn dark card-btn"
            >select
            </button>
            <button
              class="btn dark card-btn"
              [routerLink]="['/hero', hero.id]"
            >view</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
