<div class="container">
  <header class="header">
    <div class="wrapper">
      <nav class="header-nav">
        <ul class="nav-list">
          <li [routerLink]="['/select-heroes']" class="logo">Super Hero</li>
          <li *ngIf="utils.hasSelectedHeroes()">
            <button [routerLink]="['/buttle']" class="btn light header-btn">Fight!</button>
          </li>
          <li class="nav-controls">
            <button
              *ngIf="utils.getCurrentUserId()"
              [routerLink]="['/user-info']"
              class="btn light header-btn"
            >User Info
            </button>
            <button (click)="logout()" class="btn light header-btn">Exit</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
