.heroes-cards-list {
  max-width: 50%;
  min-width: 600px;
  margin: 0 auto;
}

.card-btn {
  font-size: 2rem;
}

.add-btn {
  position: absolute;
  right: 10%;
  bottom: 20px;
  font-size: 2rem;
  width: 150px;

}

