<div class="login-wrapper">
  <form (ngSubmit)="createUser()" [formGroup]="form" class="form">
    <h2 class="form-title">Please sign up to continue</h2>

    <div class="form-control">
      <label for="username">Username</label>
      <input class="username" formControlName="username" id="username" placeholder="Enter username" type="text">

      <div>{{form.get('username')?.errors | json}}</div>
      <div
        *ngIf="form.get('username').invalid && form.get('username').touched"
        class="validation">
        <small *ngIf="form.get('username')?.errors['required']">Field "Username" can't be empty</small>
        <small *ngIf="form.get('username')?.errors['minlength']">Enter at least 8 symbols</small>
        <small *ngIf="form.get('username')?.errors['case']">Space Case, kebab-case, camelCase are allowed,
          no special symbols or numbers allowed</small>
      </div>
    </div>

    <div class="form-control">
      <label for="email">Email:</label>
      <input class="email" formControlName="email" id="email" placeholder="Enter email" type="email">

      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation">
        <small *ngIf="form.get('email')?.errors['required']">Field "Email" can't be empty</small>
        <small *ngIf="form.get('email')?.errors['uniq']">Email must be uniq</small>
        <small *ngIf="form.get('email')?.errors['symbols']">Only 5 symbols after @ allowed</small>
        <small *ngIf="form.get('email')?.errors['dots']">No more than 3 dots before @ allowed</small>
        <small *ngIf="form.get('email')?.errors['domain']">Only (.com, .net, .org, .co, .us) domains are allowed</small>
      </div>
    </div>

    <div class="form-control">
      <label for="password">Password:</label>
      <input class="password" formControlName="password" id="password" placeholder="Enter password" type="password">

      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="validation">
        <small *ngIf="form.get('password')?.errors['required']">Field "Password" can't be empty</small>
        <small *ngIf="form.get('password')?.errors['minlength']">Enter at least 5 symbols</small>
        <small *ngIf="form.get('password')?.errors['content']">Field must contain at least
          one uppercase letter, one number, one special symbol of ($ % . & ! -)</small>
        <small *ngIf="form.errors?.['matchedValues'] && form.touched && form.dirty">
          Password should not contain parts of a user name or email
        </small>
      </div>
    </div>

    <div class="btn-block">
      <button [disabled]="form.invalid" class="btn dark" type="submit">Sign up</button>
      <a class="btn dark" routerLink='/'>Cancel</a>
    </div>
  </form>
</div>
