<div class="wrapper">
  <div class="buttle-page-wrapper">
    <div class="hero hero-card">
      <div class="hero-pic">
        <img alt="hero-pic" class="hero-img" src="{{hero?.image?.url}}">
      </div>
      <div class="hero-info">
        <app-hero-card-description [hero]="hero"></app-hero-card-description>
      </div>
    </div>
    <div class="buttle">
      <div *ngIf="isFight" class="loader">
        <div class="loader-text">They are fighting....</div>
        <div class="loader-progress"></div>
      </div>
      <div class="buttle-description">
        <span class="desc-name">{{hero?.name}}</span>
        <button
          (click)="startFight()"
          class="btn dark"
          [disabled]="isFight"
        >START!
        </button>
        <span class="desc-name">{{opponent?.name}}</span>
      </div>
      <div class="powerups">
        <h3 class="list-title">powerups</h3>
        <div class="list">
          <button (click)="selectPowerup(powerup.name)"
                  *ngFor="let powerup of powerups; trackBy: trackPowerup"
                  [class.selected]="selectedPowerups.includes(powerup.name)"
                  [disabled]="powerup.uses === 0 || isFight"
                  class="powerup"
          >{{powerup.name}}</button>
        </div>
      </div>
    </div>
    <div class="opponent hero-card">
      <div class="hero-pic">
        <img alt="hero-pic" class="hero-img" src="{{opponent?.image?.url}}">
      </div>
      <div class="hero-info">
      <app-hero-card-description [hero]="opponent"></app-hero-card-description>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="winner">
    <div class="modal-body">
      <span class="modal-text">Winner: <br> {{winner}}</span>
      <button (click)="closeModal()" class="modal-btn">Close</button>
    </div>
  </div>
</div>

